<% include ../partials/header %>

<h1>Meal Plans Page</h1>
<p><a class="ui green button" href="plans/new">Create New Meal Plan</a></p>
<div class="ui four column doubling stackable grid">
    <div class="row">
        <div class="column">
                <h3><%=user.username%>'s Meal Plans</h3>
        </div>
    </div>
    <% user.plans.forEach(function(plan){ %>
        <div class="column">
            <div class="ui card">
                <a class="image" href="/plans/<%= plan._id %>">
                    <img src="<%= plan.image %>">
                </a>
                <div class="center aligned content">
                    <h4><%= plan.name %></h4>
                    <p><a class="ui blue button" href="/plans/<%= plan._id %>">Show Meals</a></p>
                </div>
            </div>
        </div>
    <% }) %> 
</div>
<% include ../partials/footer %>