<% include ../partials/header %>

<div class="ui grid">
    <div class="three wide column">
        <h3>Ingredients:</h3>
        <div class="ui segment">
            <p><%= meal.ingredients %></p>
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui fluid card">
            <div class="ui image">
                <img src="<%= meal.image %>">
            </div>
            <div class="content">
                <h2><%= meal.name %></h2>
                <p><em>Submitted by: <%= meal.author.username %></em></p>
                <h4>Recipe:</h4>
                <p><%= meal.recipe %></p>
                <% if(currentUser && meal.author.id.equals(currentUser._id)){ %>
                    <a href="/meals/<%= meal._id %>/edit" class="ui mini yellow button">Edit</a>
                    <form class="delete-form" action="/meals/<%= meal._id %>?_method=DELETE" method="POST">
                        <button class="ui mini negative button">Delete</button>
                    </form>
                <% } %>
            </div>
        </div>

        <div class="ui secondary segment">
            <p>
                <a class="ui right floated green submit button" href="/meals/<%= meal._id %>/comments/new">Add New Comment</a>
            </p>
            <br>
            <div class="ui comments">
                <% meal.comments.forEach(function(comment){ %>
                    <div class="comment">
                        <div class="content">
                            <a class="author"><%= comment.author.username %></a>
                        </div>
                        <div class="text">
                            <%= comment.text %>
                        </div>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="ui mini yellow submit button" href="/meals/<%= meal._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form class="delete-form" action="/meals/<%= meal._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button class="ui mini negative button">Delete</button>
                            </form>
                        <% } %>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>





<% include ../partials/footer %>